

ion-row, ion-col {
    padding-top: 0;
    margin-top: 0;
  }
  
  .titulo {
    color: var(--ion-color-orange);
    font: normal 22px 'ComicNeue-Bd', sans-serif;
  }
  
  .texto {
    font: normal 18px 'ComicNeue_Light', sans-serif;

  }

  p{
    margin-top: 9px;
    margin-bottom: 9px;
  }

  .subtemas {
    color: var(--ion-color-orange);
    font: normal 18px 'ComicNeue-Bd', sans-serif;
    margin-left: 2.5%;
  }

.lista{
  font: normal 18px 'ComicNeue_Light', sans-serif;
  margin-left: 5.3%;
  margin-top: 9px;
  margin-bottom: 9px;
}