<app-header [back]="true" headerText="Quiz"></app-header>
<ion-content [fullscreen]="true">
  <div style="padding-left: 5%; padding-right: 5%; padding-top: 1%">
    <ion-row>
      <ion-col size="12">
        <p class="ion-text-start texto">

          4. En relación a la fuerza eléctrica es incorrecto a firmar que:
          
        </p>
      </ion-col>
    </ion-row>
    
    <ion-list style="padding-top: 0">
      <ion-radio-group [(ngModel)]="this.question5">
        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">La fuerza eléctrica aumenta mientas mayor sea la cantidad de cargas
            interactuantes.</p>
          

          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">La fuerza eléctrica disminuye a medida que disminuye la distancia
            de separación.</p>
          
          <ion-radio slot="start" value="2"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">La fuerza eléctrica puede ser atractiva o repulsiva dependiendo de
            las cargas que interactúan.</p>
          
          <ion-radio slot="start" value="3"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">La fuerza eléctrica actúa en la misma línea que contiene las cargas
            eléctricas.</p>
         
          <ion-radio slot="start" value="4"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">La fuerza eléctrica entre dos cargas es de tipo
            acción-reacción.</p>
          
          <ion-radio slot="start" value="5"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <div style="padding-left: 5%; padding-right: 5%; padding-top: 3%">
    <ion-row>
      <ion-col size="12">
        <p class="ion-text-start texto">

          5. Campo eléctrico es toda región donde:
          
        </p>
      </ion-col>
    </ion-row>
  
    <ion-list style="padding-top: 0">
      <ion-radio-group [(ngModel)]="this.question6">
        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">Hay vacío.</p>
          

          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">No hay vacío.</p>
         
          <ion-radio slot="start" value="2"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">Se producen fenómenos eléctricos.</p>
         
          <ion-radio slot="start" value="3"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">Hay circuitos eléctricos.</p>
          
          <ion-radio slot="start" value="4"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">Existen cargas eléctricas.</p>
         
          <ion-radio slot="start" value="5"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      (click)="nextPage()"
      color="light"
      style="margin-bottom: 20%; margin-right: 20px"
    >
      <img class="heaven" src="/assets/icon/right-arrow_1.png" />
    </ion-fab-button>
  </ion-fab>
</ion-content>
