<!-- <ion-header class="header" [translucent]="true">
  <ion-row>
    <ion-col size="2" style="padding-top: 3.5%">
      <ion-icon
        *ngIf="back"
        name="menu"
        style="
          width: 70%;
          height: 70%;
          margin-top: 5%;

          color: rgb(49, 49, 57);
        "
        (click)="onToggleMenu()"
      ></ion-icon>
    </ion-col>
    <ion-col size="7" style="padding-top: 4%; padding-left: 0px,"
      ><ion-title class="title">
        {{ headerText }}
      </ion-title></ion-col
    >
    <ion-col size="3" style="padding-top: 3%">
      <p-avatar
        class="avatar"
        size="large"
        shape="circle"
        image="/assets/images/user.png"
      ></p-avatar
    ></ion-col>
  </ion-row>
</ion-header> --> 

<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click) = "toggleMenu()" *ngIf="showIconMenu">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
      <!-- <ion-menu-button color=" primary"
                        menu="primerMenu"></ion-menu-button> -->
    </ion-buttons>
    <ion-title class="titulo">
      {{ headerText }}
    </ion-title>

    

    


  <ion-buttons slot="end"  (click) = "goEditRegister()" *ngIf="showIcon">
      
        <img alt="Silhouette of a person's head" style="width: 30px; height: 30px; margin-right: 15px" src="/assets/icon/conf.png" />
      
    </ion-buttons>

   
  </ion-toolbar>
</ion-header> 
