.header {
  height: 100%;
  background: var(--ion-color-primary);


  // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

 /*  .title {
    margin-top: 5%;
    text-align: left;
    font-family: "Helvetica-Md";
    font-weight: 500;
    font-size: 120%;
    padding-left: 0px;
  }
  .avatar {
    align-items: end;
    margin-left: 20%;
    margin-bottom: 50%;
  }

  .text-helvetica-medium {
    font-family: "Helvetica-Md" !important;
    font-size: 25px;
  } */
}


.titulo {
  
  font: normal 22px 'ComicNeue-Bd', sans-serif;

}