<app-header [back]="true" headerText="Quiz"></app-header>
<ion-content [fullscreen]="true">
  <div style="padding: 5%">
    <ion-row>
      <ion-col size="12">
        <p class="ion-text-start texto">

          2. Método de electrización en que NO hay transferencia efectiva de
        electrones corresponde a:
          
        </p>
      </ion-col>
    </ion-row>
    
    <ion-list style="padding-top: 0">
      <ion-radio-group [(ngModel)]="this.question3">
        <ion-item>
          
          <p style="white-space: normal"  class="ion-text-start texto"
            >Método por contacto</p
          >

          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto"
            >Método por frotación</p
          >
       
          <ion-radio slot="start" value="2"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto"
            >Método por inducción</p
          >
        
          <ion-radio slot="start" value="3"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto"
            >Método por conducción</p
          >
       
          <ion-radio slot="start" value="4"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto"
            >Método por polarización</p
          >
          
          <ion-radio slot="start" value="5"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <div style="padding-left: 5%; padding-right: 5%">
    <ion-row>
      <ion-col size="12">
        <p class="ion-text-start texto">

          3. ¿El principio de conservación de la carga dice que la carga?
          
        </p>
      </ion-col>
    </ion-row>
    
    <ion-list style="padding-top: 0">
      <ion-radio-group [(ngModel)]="this.question4">
        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">Se crea por frotamiento</p>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">Se crea por inducción</p>
          
          <ion-radio slot="start" value="2"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">Se crea por polarización</p>
         
          <ion-radio slot="start" value="3"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">Se crea por ionización</p>
         
          <ion-radio slot="start" value="4"></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">No se crea, se transfiere de un cuerpo a otro</p>
          
          <ion-radio slot="start" value="5"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      (click)="nextPage()"
      color="light"
      style="margin-bottom: 20%; margin-right: 20px"
    >
      <img class="heaven" src="/assets/icon/right-arrow_1.png" />
    </ion-fab-button>
  </ion-fab>
</ion-content>
