.simulation-pre-row {
  display: flex;
  justify-content: space-between;
  .simulation-pre-col {
    padding: 0;
    align-items: center;
    text-align: center;
  }
}




app-menulateral {
  z-index: 10; /* Esto debería ser suficiente para superponer sobre el header */
}

app-header {
  z-index: 20; /* Asegúrate de que el z-index del header sea menor que el del menú */
}
