<!-- <app-header [back]="true" headerText="Indice"></app-header>
 -->




<app-header [back]="true" headerText="Contenido"   ></app-header>

<app-menulateral  class="menu-lateral"></app-menulateral>

<ion-content [fullscreen]="true" class="cuerpo_pagina">
  <ion-list style="margin-top: 7%">
    <ion-item-sliding *ngFor="let element of options; let i = index">
      <app-card-general
        (click)="routeTopage(i)"
        [title]="element"
      ></app-card-general>
    </ion-item-sliding>
  </ion-list>
</ion-content>
