<app-header  headerText="Tutorial"></app-header>


<!--   <ion-grid style="margin-top: 7%">
    <ion-row style="margin-left: 2.5%" >
      <h4 >{{options[id-1].name}}</h4>
    </ion-row>
  </ion-grid>  
    <ion-row style="margin-left: 2.5%">
      <h5>{{options[id-1].tutorial_title}}</h5>
    </ion-row>
    <ion-row style="margin-left: 2.5%; margin-bottom: 10%">
      <u style="margin-bottom: 0">Objetivo</u>
      <h6>{{options[id-1].tutorial_objective}}</h6>
      <u>Materiales</u>
      <h6
        style="margin-bottom: 0"
        *ngFor="let line of options[id-1].tutorial_information"
      >
        {{line}}
      </h6>
    </ion-row>

    <p>Debug: {{ options[id-1].tutorial_information | json }}</p>
 -->

 <ion-content>
  <ion-grid style="margin-top: 7%">
    <app-text-tutorial title="{{options[id-1].name}}" 
                    text_principal="{{options[id-1].tutorial_title}}"
                    text_objetivo = "{{options[id-1].tutorial_objective}}"
                    [text_materiales] = "options[id-1].tutorial_information">
        </app-text-tutorial>
  
  <app-card-pre [simulation_pre]="options[id-1]"></app-card-pre>
</ion-grid>
</ion-content>
