<app-header [back]="true" headerText="Quiz"></app-header>
<ion-content [fullscreen]="true">
  <div style="padding: 5%">
    <ion-row>
      <ion-col size="12">
        <p class="ion-text-start texto">

          6. Se carga un condensador plano bajo una cierta diferencia de potencial
        y después se desconecta de la fuente. Si ahora se separan las placas
        </p>
      </ion-col>
    </ion-row>
   
    <ion-list style="padding-top: 0">
      <ion-radio-group [(ngModel)]="this.question7">
        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">La carga del condensador se modifica.</p>
         

          <ion-radio
            (ionFocus)="setAnswer('1')"
            slot="start"
            value="1"
          ></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">La diferencia de potencial entre las armaduras
            disminuye.</p>
          
          <ion-radio
            (ionFocus)="setAnswer('2')"
            slot="start"
            value="2"
          ></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">La capacidad aumenta.</p>
          
          <ion-radio
            (ionFocus)="setAnswer('3')"
            slot="start"
            value="3"
          ></ion-radio>
        </ion-item>

        <ion-item>
          <p style="white-space: normal"  class="ion-text-start texto">la energía electrostática almacenada aumenta.</p>
          
          <ion-radio
            (ionFocus)="setAnswer('4')"
            slot="start"
            value="4"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <div class="login_buttons">
    <div class="one_button">
      <p-button (onClick)="nextPage()" label="EVALUAR"></p-button>
    </div>
  </div>
</ion-content>
